@model TattoStudioModerna.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tatto.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tatto.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderOn)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin")) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> }
    <a asp-action="Index">Back to List</a>
</div>
