@model IEnumerable<TattoStudioModerna.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Запазени часове</h1>
@if (User.IsInRole("Admin")) { 
<p>
    <a asp-action="Create">Добавяне на резервация</a>
</p>}
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Tatto)*@
                <a>Име на татуировка</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OrderOn)*@
                <a>Запазена на</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Tatto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderOn)
            </td>
            <td>
                @if (User.IsInRole("Admin")) { 
                <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>}
                <a asp-action="Details" asp-route-id="@item.Id">Описание</a> 
            </td>
        </tr>
}
    </tbody>
</table>
