@model IEnumerable<TattoStudioModerna.Data.Tatto>



@{
    ViewData["Title"] = "Галерия";
}

<h1 style="color:wheat">Галерия</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добавяне на татуировка</a>
    </p>}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/styles.css" />
<table style="background: rgba(255,255,255,0.6);" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th style="text-align:center">
                Име на татуировка
            </th>
            
            <th style="text-align:center">
                Снимка
            </th>
            <th style="text-align:center">
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    <img src='@Html.DisplayFor(modelItem => item.Image)' width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) <a>лв.</a>
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Редактиране</a>
                        <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    }
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Описание</a>
                    <a class="btn btn-success" asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id">Купи</a>
                </td>
            </tr>
        }
    </tbody>
</table>
